/*------------------------------------------------------------
# RESET STYLES
-------------------------------------------------------------*/
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*------------------------------------------------------------
# CSS VARIABLES
-------------------------------------------------------------*/
:root {
    --font-primary : "Roboto", sans-serif;
    --font-secondary : "Montserrat", sans-serif;

    --fs : clamp(0.8em, 1em, 1.2em);

    --fw : 500;

    --width : 120%;

    --padding-10 : 10px;

    --border : 1px solid #000;

    --border-radius-5 : 5px;

    --cursor-pointer : pointer;

    --gap : 15px;

}
/*------------------------------------------------------------
# General
-------------------------------------------------------------*/
html, body {
    position: relative;
    background-color: rgb(208, 218, 223);
    font-family: var(--font-secondary);
}
/*------------------------------------------------------------
# Header
-------------------------------------------------------------*/
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: var(--padding-10);
}
#entete {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.2);  
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);   
}
#title1 {
    padding-left: 25px;
}
#menu {
     padding: 20px;
     margin-left: 10px;
}
#menu a {
    font-size: 1.2em;
    text-decoration: none;
    color: #000;
}
#menu:hover {
    background-color: rgb(208, 218, 223);
    border-radius: 10px;
}
header h2 {
    font-size: 1.1em;
    font-weight: normal;
    padding: var(--padding-10);
    margin-right: 100px;
}
/*------------------------------------------------------------
# Main
-------------------------------------------------------------*/
main {
    margin: 50px auto;
    width: 900px;
    background-color: #fff;
    border-radius: 10px;
}
main h2 {
    text-align: center;
    font-family: var(--font-primary);
    font-size: 1.5em;
    font-weight: normal;
    padding: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/*------------------------------------------------------------
# Main Book_Properties Section
-------------------------------------------------------------*/
main #Book_Properties {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
#Book_title {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--gap);
}
#Book_title input {
    padding: var(--padding-10);
    font-size: var(--fs);
    width: var(--width);
    border: var(--border);
    border-radius: var(--border-radius-5);
}
#Book_title label {
    font-size: 1.2em;
    font-weight: var(--fw);
}
#Release_place {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--gap);
}
#Release_place input {
    padding: var(--padding-10);
    font-size: var(--fs);
    width: var(--width);
    border: var(--border);
    border-radius: var(--border-radius-5);
}
#Release_place label {
    font-size: 1.2em;
    font-weight: var(--fw);
}
#Book_Author h3 {
    margin: 50px 0 20px 115px;
    font-size: 1.2em;
    font-weight: var(--fw);
}
/*------------------------------------------------------------
# Main Initials Section
-------------------------------------------------------------*/
main #Initials {
    display: flex;
    justify-content: space-around;
}
#Firstname {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}
#Firstname input {
    padding: var(--padding-10);
    font-size: var(--fs);
    width: var(--width);
    border: var(--border);
    border-radius: var(--border-radius-5);
}
#Firstname label {
    font-size: var(--fs);
}
#FamilyName {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}
#FamilyName input {
    padding: var(--padding-10);
    font-size: var(--fs);
    width: var(--width);
    border: var(--border);
    border-radius: var(--border-radius-5);
}
#FamilyName label {
    font-size: var(--fs);
}
/*------------------------------------------------------------
# Main Book_Properties2 Section
-------------------------------------------------------------*/
main #Book_Properties2 {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
#NumberOfPages {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--gap);
}
#NumberOfPages input {
    padding: var(--padding-10);
    font-size: var(--fs);
    width: var(--width);
    border: var(--border);
    border-radius: var(--border-radius-5);
}
#NumberOfPages label {
    font-size: 1.2em;
    font-weight: var(--fw);
}
#NumberOfCopies {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--gap);
}
#NumberOfCopies input {
    padding: var(--padding-10);
    font-size: var(--fs);
    width: var(--width);
    border: var(--border);
    border-radius: var(--border-radius-5);
}
#NumberOfCopies label {
    font-size: 1.2em;
    font-weight: var(--fw);
}
#Book_Editor h3 {
    margin: 50px 0 20px 115px;
    font-size: 1.2em;
    font-weight: var(--fw);
}
/*------------------------------------------------------------
# Main AllAboutEditors Section
-------------------------------------------------------------*/
main #AllAboutEditors {
    display: flex;
    justify-content: space-around;
}
#Editor {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}
#Editor input {
    padding: var(--padding-10);
    font-size: var(--fs);
    width: var(--width);
    border: var(--border);
    border-radius: var(--border-radius-5);
}
#Editor label {
    font-size: var(--fs);
}
#Address {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}
#Address input {
    padding: var(--padding-10);
    font-size: var(--fs);
    width: var(--width);
    border: var(--border);
    border-radius: var(--border-radius-5);
}
#Address label {
    font-size: var(--fs);
}
/*------------------------------------------------------------
# Main Book_Properties3 Section
-------------------------------------------------------------*/
main #Book_Properties3 {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
#ClassifyingNumber {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--gap);
}
#ClassifyingNumber input {
    padding: var(--padding-10);
    font-size: var(--fs);
    width: var(--width);
    border: var(--border);
    border-radius: var(--border-radius-5);
}
#ClassifyingNumber label {
    font-size: 1.2em;
    font-weight: var(--fw);
}
#GetterNumber {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--gap);
}
#GetterNumber input {
    padding: var(--padding-10);
    font-size: var(--fs);
    width: var(--width);
    border: var(--border);
    border-radius: var(--border-radius-5);
}
#GetterNumber label {
    font-size: 1.2em;
    font-weight: var(--fw);
}
/*------------------------------------------------------------
# Main Use_conditions Section
-------------------------------------------------------------*/
#Use_conditions {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--gap);
    margin: 50px 0 50px 110px;
}
#Use_conditions input {
    padding: var(--padding-10);
    font-size: var(--fs);
    width: 37%;
    border: var(--border);
    border-radius: var(--border-radius-5);
}
#Use_conditions label {
    font-size: 1.2em;
    font-weight: var(--fw);
}
/*------------------------------------------------------------
# Main Additionnal_Comments Section
-------------------------------------------------------------*/
#Additionnal_Comments {
    display:  flex;
    flex-direction: column;
    gap: var(--gap);
    margin: 50px 0 50px 110px;
}
#Additionnal_Comments textarea {
    padding: 25px;
    font-size: var(--fs);
    width: 37%;
    border: var(--border);
    border-radius: var(--border-radius-5);
}
#Additionnal_Comments label {
    font-size: 1.2em;
    font-weight: var(--fw);
}
/*------------------------------------------------------------
# Main Buttons
-------------------------------------------------------------*/
#buttons {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
#save {
    margin: 50px 5px 50px 300px;
    padding: 15px;
    border: var(--border);
    border-radius: 10px;
    font-size: var(--fs);
    cursor: var(--cursor-pointer);
}
#submit {
    margin: 50px 0 50px 0;
    padding: 15px;
    border: var(--border);
    border-radius: 10px;
    background-color: green;
    color: #fff;
    font-size: var(--fs);
    cursor: var(--cursor-pointer);
}
::placeholder {
    color : rgba(0, 0, 0, 0.8)
}
/*------------------------------------------------------------
# Footer
-------------------------------------------------------------*/
footer p {
    font-size: var(--fs);
    text-align: center;
    padding: var(--padding-10);
}
/*------------------------------------------------------------
# MEDIA QUERIES 
-------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    main {
        width: 100%;
        margin: 20px auto;
    }
    #Book_Properties, #Initials, #Book_Properties2, #AllAboutEditors, #Book_Properties3 {
        flex-direction: column;
        gap: var(--gap);
    }
    #Book_title input, #Release_place input, #Firstname input, #FamilyName input, #NumberOfPages input, #NumberOfCopies input, #Editor input, #Address input, #ClassifyingNumber input, #GetterNumber input{
        width: 50%;
        margin-left: 50px;
    }
    #Book_title label, #Release_place label, #Firstname label, #FamilyName label, #NumberOfPages label, #NumberOfCopies label, #Editor label, #Address label, #ClassifyingNumber label, #GetterNumber label {
        margin-left: 50px;
    }
    #Use_conditions input, #Additionnal_Comments textarea {
        width: 80%;
        margin-left: -60px;
    }
    #Use_conditions label, #Additionnal_Comments label {
        margin-left: -60px;
    }
    #Book_Author h3 {
        margin: 50px 0 20px 50px;
    }
    #Book_Editor h3 {
        margin: 50px 0 20px 50px;
    }
    #save, #submit {
        margin: 20px auto;
    }
    #save {
        margin: 50px 5px 50px 250px;
    }
}
@media screen and (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }
    main {
        width: 100%;
        margin: 10px auto;
    }
    #Book_Properties, #Initials, #Book_Properties2, #AllAboutEditors, #Book_Properties3 {
        flex-direction: column;
        gap: var(--gap);
    }
    #Book_title input, #Release_place input, #Firstname input, #FamilyName input, #NumberOfPages input, #NumberOfCopies input, #Editor input, #Address input, #ClassifyingNumber input, #GetterNumber input {
        width: 80%;
        margin-left: 20px;
    }
    #Book_title label, #Release_place label, #Firstname label, #FamilyName label, #NumberOfPages label, #NumberOfCopies label, #Editor label, #Address label, #ClassifyingNumber label, #GetterNumber label {
        margin-left: 20px;
    }
    #Use_conditions input, #Additionnal_Comments textarea {
        width: 80%;
        margin-left: -90px;
    }
    #Use_conditions label, #Additionnal_Comments label {
        margin-left: -90px;
    }
    #Book_Author h3, #Book_Editor h3 {
        margin: 50px 0 20px 20px;
    }
    #save, #submit {
        margin: 20px auto;
    }
    #save {
        margin: 50px 5px 50px 100px;
    }
}