/*------------------------------------------------------------
# RESET STYLES
-------------------------------------------------------------*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*------------------------------------------------------------
# CSS VARIABLES
-------------------------------------------------------------*/
:root {
    --font-primary : "Roboto", sans-serif;
    --font-secondary : "Montserrat", sans-serif;

    --fs : clamp(0.8em, 1em, 1.1em);

    --white-color : #fff;
    --green-color : rgba(140, 163, 12, 0.822);

    --border : 1px solid rgba(0, 0, 0, 0.2);

    --absolute-position : absolute;

    --pointer-cursor : pointer;

    --padding-10 : 10px;

}
/*------------------------------------------------------------
# General
-------------------------------------------------------------*/
html, body {
    position: relative;
    top: 0;
    background-color: rgb(208, 218, 223);
    font-family: var(--font-secondary);
    padding: var(--padding-10);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*------------------------------------------------------------
# Header
-------------------------------------------------------------*/
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white-color);
    padding: var(--padding-10);
    margin: -20px;
}
#entete {
    display: flex;
    justify-content: space-between;
    border-top: var(--border);  
    border-bottom: var(--border);   
}
#title1 {
    padding-left: 25px;
}
#menu {
     padding: 20px;
     margin-left: 10px;
}
#menu a {
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}
#menu:hover {
    background-color: rgb(208, 218, 223);
    border-radius: 10px;
}
header h2 {
    font-size: 1.1em;
    font-weight: normal;
    padding: var(--padding-10);
    margin-right: 100px;
}
/*------------------------------------------------------------
# Main
-------------------------------------------------------------*/
main {
    display: flex;
    justify-content: space-between;
}
/*------------------------------------------------------------
# Section
-------------------------------------------------------------*/
section {
    margin: 100px 100px 0px 50px;
    flex: 3;
}
section input {
    padding: 10px;
    margin : 0px 0px 50px 20px;
    border-radius: 5px;
    border: none;
    width: 60%;
    font-size: var(--fs);
}
section input::placeholder {
    color: rgba(0, 0, 0, 0.8);
}
section button {
    padding: var(--padding-10);
    margin-left: 10px;
    font-size: var(--fs);
    border-radius: 20px;
    border: none;
    color: var(--white-color);
    background-color: rgb(148, 197, 69);
    cursor: var(--pointer-cursor);
}
section li {
    position: relative;
    list-style: none;
    font-size: var(--fs);
    padding: 15px;
    border-bottom: var(--border);
}
/*------------------------------------------------------------
# Icons
-------------------------------------------------------------*/
.fa-trash-can {
    position: var(--absolute-position);
    right: 90px;
    color: red;
    font-size: 1.3em;
    cursor: var(--pointer-cursor);
}
.first-star {
    position: var(--absolute-position);
    right: 250px;
    color: var(--green-color);
}
.second-star {
    position: var(--absolute-position);
    right: 230px;
    color: var(--green-color);
}
.third-star {
    position: var(--absolute-position);
    right: 210px;
    color: var(--green-color);
}
.fourth-star {
    position: var(--absolute-position);
    right: 190px;
    color: var(--green-color);
}
.fifth-star {
    position: var(--absolute-position);
    right: 170px;
    color: var(--green-color);
}
/*------------------------------------------------------------
# Aside 
-------------------------------------------------------------*/
aside {
    margin-top: 50px;
    flex: 1.5;
    border: var(--border);
    border-radius: 10px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--white-color);
    color: rgb(20, 20, 51);
    height: 500px;
    overflow-x: none;
    overflow-y: scroll;
}
aside h2 {
    text-align: center;
    font-size: 1.3em;
    text-decoration: underline;
}
aside li {
    padding: 15px;
    list-style: none;
    font-size: var(--text-fs);
    text-align: center;
    text-decoration: underline;
}
/*------------------------------------------------------------
# Footer
-------------------------------------------------------------*/
footer p {
    text-align: center;
    font-size: var(--fs);
    padding : var(--padding-10);
    margin-top: 50px;
}
/*------------------------------------------------------------
# MEDIA QUERIES
-------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }
    #menu {
        margin-left: 0;
        padding: var(--padding-10);
    }
    main {
        flex-direction: column;
        width: 100%;
    }
    section {
        margin: 50px 20px;
        order: 2;
    }
    aside {
      display: none;
    }
    .first-star,
    .second-star,
    .third-star,
    .fourth-star,
    .fifth-star {
        display: none;
    }
   
}
@media screen and (max-width: 480px) {
    body {
        padding: 5px;
    }
    header h1 {
        font-size: clamp(1.3em, 1.5em, 2em);
    }

    header h2 {
        font-size: var(--fs);
        margin-right: 50px;
    }
    #menu a {
        font-size: var(--fs);
    }
    section {
        margin: 20px 10px;
    }
    section input {
        width: 70%;
        font-size: 0.9em;
    }
    section button {
        font-size: 0.9em;
    }
    .fa-trash-can {
        right: 50px;
        font-size: var(--fs);
    }
    .first-star,
    .second-star,
    .third-star,
    .fourth-star,
    .fifth-star {
        opacity: 0;
    }
    footer p {
        font-size: 0.9em;
    }
}
@media screen and (min-width: 480px) and (max-width : 768px) {
    .first-star,
    .second-star,
    .third-star,
    .fourth-star,
    .fifth-star {
        opacity: 0;
    }
}
@media screen and (min-width: 768px) and (max-width : 1024px) {
    #menu {
        margin-left: 20px;
        padding: 20px;
    }
    main {
        width: 100%;
    }
    aside {
        display: none;
    }
    .first-star,
    .second-star,
    .third-star,
    .fourth-star,
    .fifth-star {
        display: none;
    }
    
}