/*------------------------------------------------------------
# RESET STYLES
-------------------------------------------------------------*/
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*------------------------------------------------------------
# CSS VARIABLES
-------------------------------------------------------------*/
:root {
    --font-primary : "Roboto", sans-serif;
    --font-secondary : "Montserrat", sans-serif;

    --border : 1px solid rgba(0, 0, 0, 0.2);
}
/*------------------------------------------------------------
# General
-------------------------------------------------------------*/
html, body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 100px;
    background-color: rgb(208, 218, 223);
    font-family: var(--font-secondary);
    padding: 10px;
    height: 100%;

}
/*------------------------------------------------------------
# Header
-------------------------------------------------------------*/
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    width: 100vw;
    height: auto;
    margin: -20px;
   
}
#entete {
    display: flex;
    justify-content: space-between;
    border-top: var(--border);  
    border-bottom: var(--border);   
}
#title1 {
    padding-left: 25px;
}
#menu {
     padding: 20px;
     margin-left: 10px;
}
#menu a {
    font-size: 1.2em;
    text-decoration: none;
    color: #000;
}
#menu:hover {
    background-color: rgb(208, 218, 223);
    border-radius: 10px;
}
header h2 {
    font-size: 1.1em;
    font-weight: normal;
    padding: 10px;
    margin-right: 100px;
}
/*------------------------------------------------------------
# Main
-------------------------------------------------------------*/
main {
    margin: auto;
    width: 900px;
    flex: 1;
}
main section{
    display: flex;
    justify-content: space-between;
}
main p {
    font-size: 1em;
}
/*------------------------------------------------------------
# Main legend Part
-------------------------------------------------------------*/
main #legend {
   order: 2;
   margin: -80px 50px 0px 50px;
   flex: 1;
}
main #legend h3 {
    text-decoration: underline;
    font-size: 1.1em;
}
/*------------------------------------------------------------
# Main table part
-------------------------------------------------------------*/
main #table {
   order: 1;
   flex: 6;
}
main #filter {
    margin: 50px 0px 50px 75px;
}
section table td {
    font-size: 1em;
    padding: 25px;
    border-bottom: var(--border);
}
section table th {
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: start;
    border-bottom: var(--border);
    padding: 15px;
}
section .upper {
    text-transform: uppercase;
}

/*------------------------------------------------------------
# Main Filter
-------------------------------------------------------------*/
#filter span {
    padding: 15px;
    font-size: 1.1em;
    cursor: pointer;
}
.active {
    border: 2px solid black;
}
#filter span:hover {
    color: #fff;
    background-color: rgb(24, 24, 114);
    border: none;
}
/*------------------------------------------------------------
# Icons
-------------------------------------------------------------*/
.fa-check-double {
    color: green;
}
.fa-xmark {
    color: red;
}
.fa-spinner {
    color: rgb(216, 103, 11);
}
.reveal, .moins {
    display: none;
}
/*------------------------------------------------------------
# Footer
-------------------------------------------------------------*/
footer p {
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
/*------------------------------------------------------------
# Others
-------------------------------------------------------------*/
.moins, .show, .fa-angle-down, .fa-angle-up {
    font-size: 1em;
    margin-top: 10px;
    text-decoration: underline;
    color: rgb(12, 12, 65);
    cursor: pointer;
}
.hide-loading, .hide-no-read, .hide-read {
    display: none !important;
}
/*------------------------------------------------------------
# Media Queries
-------------------------------------------------------------*/
@media screen and (max-width: 768px) {

    main section {
        flex-direction: column;
        width: 100%;
    }
    main #legend {
        margin: 20px;
        order : 1;
    }
    main #table {
        width: 100%;
    }
    section table th, section table td {
        font-size: 0.9em;
        padding: 10px;
    }
    #filter {
        margin: 20px;
    }
}
@media screen and (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }
    main section {
        flex-direction: column;
        width: 100%;
    }
    main {
        flex: 1;
    }
    main #legend {
        margin-bottom: 50px;
        order: 1;
    }
    main #table {
        width: 100%;
    }
    section table th, section table td {
        font-size: 1em;
        padding: 5px;
    }
    #filter {
        margin: 10px auto;
    }
    #filter span {
        font-size: 0.9em;
        padding: 10px;
    }
    #filter span:last-child {
        margin-right: 100px;
    }
  
}
